<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVC 主页</title>
    <style>
        body {
            background-color: #f1f4f3;
        }
        a {
            font-size: large;
            color: #001111;
            margin: 10px 20px;
        }
    </style>
</head>
<body>
    <img src="/static?file=bg.jpg" width="300">
    <h1>Hello {{username}}</h1>
    <a href="/user/register/view">Register</a>
    <a href="/user/login/view">Login</a>
    <a href="/todo/index">Todo</a>
    <a href="/weibo/index">Weibo</a>
</body>
</html>